nvim/
google-chrome/
BraveSoftware/
libreoffice/
Microsoft/
teams/
Code/
libreoffice/4/
LanguageTool/
kde.org/
.gitignore
dconf/
gtkrc
gtkrc-2.0
kconf_updaterc
kglobalshortcutsrc
ksmserverrc
kwinrc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
session/
ksmserverrc
kscreenlockerrc
katemetainfos
menus/
baloofileinformationrc
balena-etcher/
Podman\ Desktop/
pulse/
.gsd-keyboard.settings-ported
evolution/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus
emaildefaults
